.loop-button
{
    margin-left: 8px !important;
    transition: background-color 0.5s cubic-bezier(0.05, 0, 0, 1);
}

.pressed
{
    background-color: #f1f1f1 !important;
    color: #0f0f0f !important;
}

.loop-container
{
    background: none 0% 0% / auto repeat scroll padding-box border-box rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    font-size: 14px;
    height: 90px;
    line-height: 20px;
    margin-right: 12px;
    margin-top: 12px;
}

.loop-slider-container
{
    margin-left: 32px;
    margin-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.loop-slider-selected
{
    background-color: #f1f1f1;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    right: initial;
    width: 100%;
    z-index: 1;
}

.loop-slider-unselected
{
    background-color: #aaaaaa;
    border-radius: 8px;
    cursor: pointer;
    height: 9px;
    position: relative;
    user-select: none;
    z-index: 2;
}

.loop-slider-start-pointer
{
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    border-image: initial;
    border-radius: 8px;
    border-style: solid;
    border-width: 5px;
    cursor: move;
    height: 6px;
    margin-left: -8px;
    position: absolute;
    top: -4px;
    width: 6px;
    z-index: 3;
}

.loop-slider-end-pointer
{
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    border-image: initial;
    border-radius: 8px;
    border-style: solid;
    border-width: 5px;
    cursor: move;
    float: right;
    height: 6px;
    margin-right: -8px;
    position: relative;
    top: -4px;
    width: 6px;
    z-index: 4;
}

.loop-slider-start-pointer:hover,
.loop-slider-start-pointer:active,
.loop-slider-end-pointer:hover,
.loop-slider-end-pointer:active
{
    background-color: #3f3f3f;
    border-color: #3f3f3f;
}

.start-pointer-tooltip
{
    background-color: rgb(234, 234, 234);
    border-radius: 4px;
    color: black;
    height: 20px;
    left: -25px;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 50px;
}

.end-pointer-tooltip
{
    background-color: rgb(234, 234, 234);
    border-radius: 4px;
    color: black;
    float: right;
    height: 20px;
    position: absolute;
    text-align: center;
    right: -25px;
    top: 15px;
    width: 50px;
}

/* .start-pointer-tooltip-arrow
{
    border-bottom: 5px solid rgb(234, 234, 234);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: -5px;
    position: absolute;
    top: 10px;
}

.end-pointer-tooltip-arrow
{
    border-bottom: 5px solid rgb(234, 234, 234);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    right: -5px;
    top: 10px;
} */

.loop-input
{
    position: relative;
    align-items: center;
    background-color: hsl(0, 0%, 7%);
    border: 1px solid hsl(0, 0%, 18.82%);
    /* box-shadow: inset 0 1px 2px var(--ytd-searchbox-legacy-border-shadow-color); */
    /* caret-color: var(--yt-spec-text-primary); */
    color: hsla(0, 100%, 100%, 0.88);
    padding: 0 4px 0 16px;
    /* margin-left: 32px; */
    flex: 1;
    flex-basis: 0.000000001px;
    /* display: flexbox; */
    display: flex;
    /* flex-direction: row; */

    border-radius: 8px;
    /* margin-left: 12px; */
    padding: 4px;
    text-align: center;
}

.loop-icon
{
    height: 24px;
    margin-left: -6px;
    margin-right: 6px;
    vertical-align: middle;
    width: 24px;
}

.loop-inputs-container
{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
    margin-top: 24px;
    margin-left: 8px;
    margin-right: 8px;
}